<app-page-title
  [title]="'Book ' + booking.Summary + ' on ' + booking.LocaleDate"
></app-page-title>

<div class="form">
  <div class="error" *ngIf="error" [innerHTML]="error"></div>
  <div class="response" *ngIf="response">{{ response }}</div>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Your Name</mat-label>
    <input matInput placeholder="Your Name" [formControl]="name" required />
    <mat-error *ngIf="name.invalid">{{ getErrorMessage(name) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="bob@example.com"
      [formControl]="email"
      type="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Membership Number</mat-label>
    <input matInput [formControl]="memberno" required />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Contact Telephone</mat-label>
    <input matInput [formControl]="telno" type="tel" />
    <mat-error *ngIf="telno.invalid">{{ getErrorMessage(telno) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="" [formControl]="message"></textarea>
    <mat-error *ngIf="message.invalid">{{
      getErrorMessage(message)
    }}</mat-error>
  </mat-form-field>

  <div class="booking-items">
    <p class="participants-label">Select Participants:</p>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let element of bookingItems">
      <div class="booking-card">
        <div class="details">
          <p class="description">{{ element.description }}</p>
          <div class="qty-container">
            <span class="qty-label">Quantity:</span>
            <div class="qty-input">
              <button
                mat-mini-fab
                color="primary"
                aria-label="Decrease Quantity"
                (click)="decreaseQuantity(element)"
                [disabled]="disableDecreaseQuantity(element)"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <span class="qty-value">{{ element.quantity }}</span>
              <button
                mat-mini-fab
                color="primary"
                aria-label="Increase Quantity"
                (click)="increaseQuantity(element)"
                [disabled]="disableIncreaseQuantity(element)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="item-total">
          <span>{{ getItemTotal(element) | currency: "GBP" }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
    <div class="total-row">
      Total: <span>{{ getTotalCost() | currency: "GBP" }}</span>
    </div>
  </div>

  <div class="buttons-container">
    <app-busy-button
      label="Pay Now"
      (clickButton)="bookAndPay()"
      [busy]="isBusy"
    ></app-busy-button>
    <app-busy-button
      label="Pay on the day"
      (clickButton)="book()"
      [busy]="isBusy"
    ></app-busy-button>
  </div>
</div>
