<div>
  <div>
    <div>
      <app-page-title title="Location"></app-page-title>

      <p>
        Sheffield City Kayak Club is based at the end of Kelham Island, just
        past the Kelham Island Museum. To get to us drive over the bridge onto
        Kelham island, continue past the Museum and through the arge red gates
        at the end of the cobbled road. See the map below for the exact
        location.
      </p>

      <p>
        We have access to flat water on the River Don, as well as a small faster
        flowing section and a large weir - always fun for those new members
      </p>

      <p>
        We also have ample parking, access to the toilets at the museum and a
        range of conveniently located pubs for a post-paddle drink!
      </p>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.3970454223436!2d-1.4762514838390548!3d53.38983707998818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879787d06dace49%3A0x853b7504daf79220!2sSHEFFIELD+CITY+KAYAK+CLUB!5e0!3m2!1sen!2suk!4v1494262296673"
        height="600"
        frameborder="0"
        style="max-width: 800px; width: 100%; border: 0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
