<mat-card class="person-card">
  <mat-card-title-group>
    <mat-card-title>{{ person.name }}</mat-card-title>
  </mat-card-title-group>
  <div class="person-info">
    <mat-card-content>
      <mat-card-subtitle>{{ person.role }}</mat-card-subtitle>
      <div [innerHTML]="person.longText"></div>
    </mat-card-content>
    <div class="person-image">
      <img *ngIf="person.imageUrl" src="{{ person.imageUrl }}" />
    </div>
  </div>
  <a [href]="getMailTo()">{{ person.emailAddress }}</a>
</mat-card>