.form {
  min-width: 150px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.person-card {
  margin: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
}

.person-info {
  flex-direction: row;
  display: flex;
}

.person-image {
  flex: 0 0 auto;
}

img {
  width: 160px;
}

a {
  font-size: 14px;
}

mat-card {
  max-width: 600px;
}
