<app-page-title title="She Paddles"></app-page-title>

<div class="form">
  <p>
    Sport England have reported that there are 2 million fewer women than men
    regularly participating in sport and exercise.
  </p>

  <p>
    The opportunity for sporting bodies such as the paddling community, to
    involve these women is massive. 13 million women said they would like to
    increase their participation in sport and physical activity, including 6
    million women who are not currently active.
  </p>

  <p>
    Something is stopping them from getting involved. The This Girl Can 2020
    survey highlights the key and well established barriers to women
    participation which fall into three main areas:
  </p>
  <ul>
    <li>
      <b>Fears around appearance</b> - For example, being sweaty and having a
      red face; wearing tight, wrong or sports clothing; changing in front of
      others; how their body looks during exercise; developing too many muscles
      and not appearing feminine.
    </li>
    <li>
      <b>Fears on their ability</b> - For example, not being physically fit
      enough, not being 'good' enough therefore holding up the group, not
      knowing the rules or how to use equipment properly or bringing the wrong
      equipment; either not competitive enough or being seen as overly
      competitive.
    </li>
    <li>
      <b>Fears on what women's priorities should be</b> - Societal pressure that
      reinforces women should be prioritising the following things over
      participating in sport or physical activity, e.g. spending time with
      friends and family; studying or working and spending time on other things
      I should be doing.
    </li>
  </ul>

  <h2>How does this relate in the paddling community?</h2>
  <p>
    Results from the British Canoeing Inclusion Survey 2021 indicated that,
    although not all women felt the same, there were three common barriers
    identified from respondents:
  </p>
  <ul>
    <li>Lack of role models</li>
    <li>
      Under representation in the coaching workforce which can put some paddlers
      off
    </li>
    <li>
      Fear of rejection or exclusion (particularly for those who are trans or
      non-binary)
    </li>
    <li>
      Feeling uncomfortable or struggling to find a suitable kit which fits a
      range of body sizes and shapes, and isn't always based on men's sizing or
      fits
    </li>
  </ul>

  <p>
    Our women membership continues to grow, with a rise of 5.5%, bringing our
    total membership figure to 37.8%. The number of women in leadership roles
    continues to increase with women making up 26% of British Canoeing's
    qualified coaches and leaders.
  </p>
  <p>
    This highlights the successes of the Paddlesport community and the combined
    efforts of club members, many of which have been involved in the #ShePaddles
    programme and others inspired by the #ShePaddles Ambassadors spreading the
    love in the Women's Paddling Community Facebook Group.
  </p>
  <h2>However, we still have a long way to go...</h2>
  <p>
    The #ShePaddles movement is on a mission to continue to close the gap
    between men and women and girl's participation in the Paddlesport community
    by taking a targeted approach in reducing barriers and creating more
    appealing paddling opportunities for women.
  </p>
  This programme aims to:
  <ul>
    <li>
      Improve the overall diversity of paddling by growing women and ethnically
      diverse membership in clubs and organisations in England
    </li>
    <li>
      Increase the number of qualified women coaches and leaders in England
    </li>
    <li>To award successful clubs with #ShePaddles Champion Club status</li>
  </ul>

  <h2>Our commitment to the She Paddles campaign</h2>
  <p>
    Our club has a small, but growing number of female paddlers of mixed
    ability. It's the clubs and my personal aim to support women in paddle
    sports, and I would therefore like to introduce myself as the SCKC's She
    Paddles Club Ambassador.
  </p>

  <mat-card class="person-card">
    <mat-card-title-group>
      <mat-card-title>Tracy Edwards</mat-card-title>
    </mat-card-title-group>
    <div class="person-info">
      <mat-card-content>
        <mat-card-subtitle>She Paddles Club Ambassador</mat-card-subtitle>
        <div>
          My role as the She Paddles Club Ambassador will be to help all female
          paddlers feel supported and enjoy their time on the water with the
          club. If you have any concerns about paddling or need any information
          about taking part in sessions on the river or the pool, please contact
          me via the 'Contact Us' section on our website. I look forward to
          seeing you on the water
        </div>
      </mat-card-content>
      <div class="person-image">
        <img src="assets/tracy.jpg" />
      </div>
    </div>
    <a href="mailto:shepaddles@sheffieldcitykayakclub.co.uk"
      >shepaddles@sheffieldcitykayakclub.co.uk</a
    >
  </mat-card>

  <h2>Resources</h2>
  <ul>
    <li>
      <a
        href="https://gopaddling.info/paddling-for-women-5-reasons-to-start/"
        target="_blank"
        >Paddling for women, 5 reasons to start</a
      >
    </li>
    <li>
      <a href="https://gopaddling.info/tag/shepaddles/" target="_blank"
        >She Paddles</a
      >
    </li>
  </ul>
</div>
