<app-page-title title="About Us"></app-page-title>

<div class="card-container">
  <app-info-card
    imageSource=""
    title="Club Location"
    link="/location"
    content="Located at the heart of Kelham Island. Great location for a peaceful paddle on the historic River Don surrounded by old warehouses"
  ></app-info-card>

  <app-info-card
    imageSource=""
    title="Joining the Club"
    link="/joining"
    content="Joining the club is easy to do. For more information visit the page below"
  ></app-info-card>

  <app-info-card
    imageSource=""
    title="Club Officials"
    link="/people"
    content="We are paddlers and non paddlers engaged with the community to make paddling accessible to all"
  ></app-info-card>

  <app-info-card
    imageSource=""
    title="She Paddles"
    link="/she-paddles"
    content="Our commitment to paddling for all"
  ></app-info-card>
</div>
