table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 16px;
}

th,
td {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

iframe {
  width: 100%;
  max-width: 800px;
  height: 600px;
}

.container {
  max-width: 900px;
}
