<ng-container *ngIf="mode === 'normal'">
  <mat-spinner *ngIf="!isReady"></mat-spinner>

  <mat-list *ngIf="isReady">
    <ng-container *ngFor="let month of groupedEvents">
      <mat-list-item class="heading">{{ month.Month }}</mat-list-item>
      <mat-divider></mat-divider>

      <table mat-table [dataSource]="month.Events">
        <ng-container matColumnDef="day">
          <td class="day-cell" mat-cell *matCellDef="let element">
            {{ element.StartDateTime | date:'EEEE' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <td class="date-cell" mat-cell *matCellDef="let element">
            {{ element.StartDateTime | date:'dd/MM @ h:mm aa' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <td class="summary-cell" mat-cell *matCellDef="let element">{{ element.Summary }}</td>
        </ng-container>

        <ng-container matColumnDef="book">
          <td class="book-cell" mat-cell *matCellDef="let element">
            <a routerLink="/book" [state]="element">Book</a>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>
  </mat-list>
</ng-container>

<div class="small-container" *ngIf="isReady && mode === 'small'">
  <h3>Events</h3>
  <img src="assets/river.png" width="70"/>
  <h4>River Sessions</h4>
  <div *ngFor="let event of riverSessions" class="link-container">
    <a routerLink="/book" [state]="event">{{ event.StartDateTime | date: "ccc d MMMM" }}</a>
  </div>
  <img src="assets/pool.png" width="70"/>
  <h4>Pool Sessions</h4>
  <div *ngFor="let event of poolSessions" class="link-container">
    <a routerLink="/book" [state]="event">{{ event.StartDateTime | date: "ccc d MMMM" }}</a>
  </div>
</div>
