<ng-container *ngIf="mode === 'normal'">
  <mat-spinner *ngIf="!isReady"></mat-spinner>

  <mat-list *ngIf="isReady">
    <ng-container *ngFor="let month of groupedEvents">
      <mat-list-item class="heading">{{ month.Month }}</mat-list-item>
      <mat-divider></mat-divider>

      <table mat-table [dataSource]="month.Events">
        <ng-container matColumnDef="day">
          <td class="day-cell" mat-cell *matCellDef="let element">
            {{ element.StartDateTime | date: "EEEE" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <td class="date-cell" mat-cell *matCellDef="let element">
            {{ element.StartDateTime | date: "dd/MM @ h:mm aa" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <td class="summary-cell" mat-cell *matCellDef="let element">
            {{ element.Summary }}
          </td>
        </ng-container>

        <ng-container matColumnDef="book">
          <td class="book-cell" mat-cell *matCellDef="let element">
            <!-- <a
              href="mailto:bookingrequest@sheffieldcitykayakclub.co.uk?subject=Booking%20request%20for%20{{
                element.Summary
              }}%20on%20{{
                element.StartDateTime | date: 'longDate'
              }}&amp;body={Please%20enter%20your%20name,%20name/s%20of%20people%20booking%20and%20contact%20details}">Book</a> -->
            <a routerLink="/book" [state]="element">Book</a>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>
  </mat-list>
</ng-container>

<ng-container *ngIf="isReady && mode === 'small'">
  <mat-list *ngFor="let event of events" class="small">
    <mat-list-item style="padding-left: 0; font-size: small">
      <a class="date" routerLink="/book" [state]="event">{{
        event.StartDateTime | date: "ccc d MMM"
      }}</a>
      <div class="summary">{{ event.Summary }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
