<app-page-title title="Our Club Sessions"></app-page-title>

<div class="activities-container">
  <app-info-card
    imageSource=""
    title="River Sessions"
    link="/river"
    content="Held every Sunday on the River Don at 9am"
  ></app-info-card>

  <app-info-card
    imageSource=""
    title="Pool Sessions"
    link="/pool"
    content="Practice in the safety of a swimming pool. Useful sessions for improving technique for beginners and avanced paddlers"
  ></app-info-card>

  <app-info-card
    imageSource=""
    title="Trips / Taster Sessions???"
    link="/trips"
    content="Not sure if the sport is for you? No problem, try 3 sessions in the pool to try before commiting to joining the club"
  ></app-info-card>
</div>
