<div>
    <div>
        <div>
            <h1>River Sessions</h1>

            <p>River paddle sessions take place on Sunday mornings all year round, and on Thursday evenings through the Summer months. All sessions must be booked in advance to ensure that we have appropriate coaching cover. Bookings can be made using the link next to the session you would like to book on our <a href="events.aspx">Events</a> page.</p>

            <p>Sunday sessions start at 9am and typically run until about 12pm, with approximately 2 hours on the water depending on conditions and the group of paddlers. Bookings must be made by the preceeding Thursday to ensure coaches are available.</p>

            <p>The Thursday evening sessions usually begin in May and run through to October. They start at 6pm and run through to about 9pm, depending on weather, available list and the paddlers. Bookings must be made by the preceeding Tuesday to ensure coaches are available.</p>

            <p>If paddling conditions on the river are not ideal for all attending members then the session may be held on the flat water of the Museum Goyt alongside the car park.</p>

            <p>For photos of what we do check out the <a href="gallery.aspx">Gallery</a> for photos</p>

            <h3>Booking</h3>

            <p>Bookings should be made using the link on the <a href="events.aspx">Events</a> Page. As mentioned above, bookings for a Sunday session must be made by the preceeding Thursday, and bookings for a Thursday evening session must be made by the preceeding Tuesday.</p>

            <h3>Pricing</h3>

            <p>The cost of the sessions depend on whether you are a club member, age and status.</p>
            <p>If you require the use of club equipment there is a small additional charge.</p>

            <p>Please note that while non-members are welcome, you can only attend 3 sessions before you must become a member.</p>
            <p>See the tables below for a full breakdown, or use the <a href="#calc">calculator</a>:</p>

            <h4>Pricing for Club Members</h4>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Session Fee</th>
                        <th>Equipment Hire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Adults</td>
                        <td>{{info.adultSessionCost}}</td>
                        <td>{{info.adultEquipmentHire}}</td>
                    </tr>
                    <tr>
                        <td>Under 18's, OAP, Unwaged, Students</td>
                        <td>{{info.childSessionCost}}</td>
                        <td>{{info.childEquipmentHire}}</td>
                    </tr>
                </tbody>
            </table>

            <h4>Pricing for non-Club Members</h4>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Session Fee</th>
                        <th>Equipment Hire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Adults</td>
                        <td>{{info.adultSessionCostNonMember}}</td>
                        <td>{{info.adultEquipmentHireNonMember}}</td>
                    </tr>
                    <tr>
                        <td>Under 18's, OAP, Unwaged, Students</td>
                        <td>{{info.childSessionCostNonMember}}</td>
                        <td>{{info.childEquipmentHireNonMember}}</td>
                    </tr>
                </tbody>
            </table>

            <h4 id="calc">Session Pricing Calculator</h4>
            <table>
                <tr>
                    <td>Adult</td>
                    <td><input id="chkAdult" name="adultorchild" type="radio" /></td>
                </tr>
                <tr>
                    <td>Child</td>
                    <td><input id="chkChild" name="adultorchild" type="radio" /></td>
                </tr>
                <tr>
                    <td>Non-Member</td>
                    <td><input id="chkNonMember" name="adult" type="checkbox" /></td>
                </tr>
                <tr>
                    <td>Equipment Hire</td>
                    <td><input id="chkEquipmentHire" name="adult" type="checkbox" /></td>
                </tr>
                <tr>
                    <td>Total Session Fee</td>
                    <td><span id="totalSessionFee" style="color: white; font-size: larger;">{{sessionFee}}</span></td>
                </tr>
            </table>

            <h3>Parking</h3>

            <p>There is ample parking at our base at the end of Kelham Island.</p>

            <h3>Location</h3>
            <p>We are located at the end of Kelham Island. To get there, drive past Kelham Island Museum and through the large red gates at the end of the cobbled road. See the map below for the exact location.</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.3970454223436!2d-1.4762514838390548!3d53.38983707998818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879787d06dace49%3A0x853b7504daf79220!2sSHEFFIELD+CITY+KAYAK+CLUB!5e0!3m2!1sen!2suk!4v1494262296673" style="width:100%; max-width:800px;border: 0;" height="600" frameborder="0" allowfullscreen></iframe>


            <h3>What to Bring</h3>

            <p>While we can supply most of the equipment you'll need to get started, you will need to bring:</p>
            <ul>
                <li>Suitable Clothing - ideally a waterproof top, and light clothing. Heavy clothing is not suitable because it can get waterlogged when wet and make swimming difficult</li>
                <li>Suitable footwear - Ideally boating slip-on shoes. Trainers are not suitable as they are bulky and can prevent a quick exit from the boat</li>
                <li>Warm, dry clothing to change into afterwards</li>
                <li>A towel</li>
            </ul>

            <p>We can supply the rest of the equipment you'll need including a boat (kayak or canoe), paddle, buoyancy aid, spraydeck and helmet.</p>

            <h3>Can I Bring My Own Equipment?</h3>

            <p>Yes you can! Please be aware though that it must be suitable for the occasion and will need to be checked by the a club official before use. If you're not sure please <a href="mailto:chairman@sheffieldcitykayaclub.co.uk">contact us</a>, or add a note to your booking</p>

            <h3>Do I Need Experience</h3>

            <p>Absolutely not! Our aim is to introduce people to canoe or kayaking and to help you improve your skills</p>

            <p>Before you get on the water you will be given instructions on water safety and protocol by a club coach. You will be able to experience paddling in a flat water environment at first until you are confident enough to move onto moving water. You will never be put into a situation which is beyond your abilities or beyond what you are comfortable with. Our aim is to ensure you enjoy your experience!</p>
            <!-- <p>If it's your first time or you are unsure about venturing out onto the water straight away, then attend one of our <a href="pool.aspx">Pool</a> sessions first in a nice warm environment!</p> -->

            <h3>Awards</h3>

            <p>Our coaches are fully trained and qualified so if you would like to work towards the BC 1, 2, or 3 star awards we can give you the appropriate training and assessments, at a pace best suited to you.</p>
            <p>For younger paddlers there is also a PaddlePower Passport Scheme aimed at under 14's</p>

            <h3>Weather</h3>

            <p>All sessions are subject to the weather being suitable, and may be cancelled at short notice should this not be the case.</p>

        </div>
    </div>
</div>