<app-page-title
  [title]="'Booking Request - ' + booking.Summary + ' on ' + booking.LocaleDate"
></app-page-title>

<div class="form">
  <div class="error" *ngIf="error" [innerHTML]="error"></div>
  <div class="response" *ngIf="response">{{ response }}</div>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Your Name</mat-label>
    <input matInput placeholder="Your Name" [formControl]="name" required />
    <mat-error *ngIf="name.invalid">{{ getErrorMessage(name) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Number of participants</mat-label>
    <input
      matInput
      placeholder="Number of all participants"
      [formControl]="number"
      type="number"
    />
    <mat-error *ngIf="number.invalid">{{ getErrorMessage(number) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Names of participants</mat-label>
    <input
      matInput
      placeholder="Names of all participants"
      [formControl]="names"
    />
    <mat-error *ngIf="names.invalid">{{ getErrorMessage(names) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="bob@example.com"
      [formControl]="email"
      type="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Contact Telephone</mat-label>
    <input
      matInput
      placeholder="bob@example.com"
      [formControl]="telno"
      type="tel"
    />
    <mat-error *ngIf="telno.invalid">{{ getErrorMessage(telno) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="" [formControl]="message"></textarea>
    <mat-error *ngIf="message.invalid">{{
      getErrorMessage(message)
    }}</mat-error>
  </mat-form-field>

  <button mat-flat-button color="accent" (click)="sendMessage()">Send</button>
</div>
