<app-page-title title="Club Trips"></app-page-title>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p>
        The club ventures out regularly for trips around the UK. These vary in
        difficulty, length, types of boats and saltiness of the water.
      </p>

      <p>
        These trips are published on our
        <a routerLink="/events">Events</a> page so if you feel like joining let
        us know by booking in.
      </p>

      <p>
        To read about previous trips, check out our trip
        <a routerLink="/reports">reports</a> page.
      </p>
    </div>
  </div>
</div>
