<app-page-title title="Contact Us"></app-page-title>

<div class="form">
  <div class="error" *ngIf="error" [innerHTML]="error"></div>
  <div class="response" *ngIf="response">{{ response }}</div>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Your Name" [(ngModel)]="name" required />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your Email" [(ngModel)]="email" required />
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Subject</mat-label>
    <input matInput placeholder="Subject" [(ngModel)]="subject" required />
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="message" required></textarea>
  </mat-form-field>

  <button mat-flat-button color="accent" (click)="sendMessage()">Send</button>
</div>
