<app-page-title
  title="Membership"
  keywords="membership,joining"
></app-page-title>

<div class="container">
  <p>
    Becoming a member of Sheffield City Kayak Club is easy - just print out and
    return the membership form below with the correct fee to our membership
    secretary or hand it in to any of our club officials at any club event.
  </p>
  <p>
    Your membership will then be promptly processed to welcome you to a family
    orientated club that really does put its members first - after all it's your
    club.
  </p>
  <p>
    If you wish to discuss your membership further then please do not hesitate
    to contact our
    <a href="mailto:membership@sheffieldcitykayakclub.co.uk"
      >membership secretary</a
    >
  </p>

  <p>You can download and print our membership form here:</p>
  <p><a href="assets/Membershipform.pdf" target="_blank">Membership Form</a></p>

  <h3>Pricing</h3>

  <p>
    The club year runs from 1st October to 30th September at which time ALL
    annual memberships are renewed. For new members joining during the year we
    offer pro-rata pricing to reduce the cost of the first year membership,
    taking into account the reduced membership period.
  </p>
  <p>See the table below for a full breakdown:</p>

  <h4>{{ membershipyear }}</h4>

  <div style="overflow-x: auto">
    <table>
      <tbody>
        <tr>
          <td></td>
          <td>Full</td>
          <td>
            Family<br />
            (2 adults &amp; U18's)
          </td>
          <td>
            Additional Adults<br />
            (per person)
          </td>
          <td>Concession</td>
          <td>Youth</td>
          <td>
            Affiliated Group<br />
            (annual)
          </td>
        </tr>
        <tr>
          <td>October to March</td>
          <td>£{{ info.fullOctober | number: "0.2-2" }}</td>
          <td>£{{ info.familyOctober | number: "0.2-2" }}</td>
          <td>£{{ info.additionalOctober | number: "0.2-2" }}</td>
          <td>£{{ info.concessionOctober | number: "0.2-2" }}</td>
          <td>£{{ info.youthOctober | number: "0.2-2" }}</td>
          <td>£{{ info.affiliatedGroup | number: "0.2-2" }}</td>
        </tr>
        <tr>
          <td>April</td>
          <td>£{{ info.fullApril | number: "0.2-2" }}</td>
          <td>£{{ info.familyApril | number: "0.2-2" }}</td>
          <td>£{{ info.additionalApril | number: "0.2-2" }}</td>
          <td>£{{ info.concessionApril | number: "0.2-2" }}</td>
          <td>£{{ info.youthApril | number: "0.2-2" }}</td>
        </tr>
        <tr>
          <td>May</td>
          <td>£{{ info.fullMay | number: "0.2-2" }}</td>
          <td>£{{ info.familyMay | number: "0.2-2" }}</td>
          <td>£{{ info.additionalMay | number: "0.2-2" }}</td>
          <td>£{{ info.concessionMay | number: "0.2-2" }}</td>
          <td>£{{ info.youthMay | number: "0.2-2" }}</td>
        </tr>
        <tr>
          <td>June</td>
          <td>£23.00</td>
          <td>£28.00</td>
          <td>£3.20</td>
          <td>£17.30</td>
          <td>£15.00</td>
        </tr>
        <tr>
          <td>July</td>
          <td>£17.75</td>
          <td>£22.00</td>
          <td>£2.90</td>
          <td>£13.55</td>
          <td>£11.25</td>
        </tr>
        <tr>
          <td>August</td>
          <td>£12.50</td>
          <td>£16.00</td>
          <td>£2.60</td>
          <td>£9.80</td>
          <td>£7.50</td>
        </tr>
        <tr>
          <td>September</td>
          <td>£7.25</td>
          <td>£10.00</td>
          <td>£2.30</td>
          <td>£6.05</td>
          <td>£3.75</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
