@{
    ViewBag.Title = "Bookings Summary";
}

@if (Request.IsAuthenticated || true)
{
    @model IEnumerable<sckc.azure.Models.ClubEvent>
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDateTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            <a href="~/Home/Bookings/@Url.Encode(item.Summary.Replace(" ", string.Empty) + "_" + item.StartDateTime.ToString("ddMMyy"))">@item.StartDateTime.ToString("dd/MM/yyyy")</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <p>You must be logged in</p>
}