<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name" routerLink=".">Sheffield City Kayak Club</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [opened]="true"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="."> Home </a>
        <a mat-list-item routerLink="/activities"> Activities </a>
        <a mat-list-item routerLink="."> Calendar </a>
        <a mat-list-item routerLink="."> River </a>
        <a mat-list-item routerLink="."> Trips </a>
        <a mat-list-item routerLink="."> Slalom </a>
        <a mat-list-item routerLink="."> News </a>
        <a mat-list-item routerLink="."> Latest News </a>
        <a mat-list-item routerLink="."> Trip Reports </a>
        <a mat-list-item routerLink="."> Gallery </a>
        <a mat-list-item routerLink="."> Photos </a>
        <a mat-list-item routerLink="."> Videos </a>
        <a mat-list-item routerLink="."> Resources </a>
        <a mat-list-item routerLink="."> Membership </a>
        <a mat-list-item routerLink="."> Links </a>
        <a mat-list-item routerLink="."> Coaching </a>
        <a mat-list-item routerLink="."> Archives </a>
        <a mat-list-item routerLink="."> About Us </a>
        <a mat-list-item routerLink="."> Contact Us </a>
        <a mat-list-item routerLink="."> Location </a>
        <a mat-list-item routerLink="."> Club History </a>
        <a mat-list-item routerLink="."> Club Officials </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
