<div class="app-container">
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="app-name app-name-medium" routerLink=".">
      Sheffield City Kayak Club
    </h1>
    <h1 class="app-name app-name-small" routerLink=".">SCKC</h1>
    <div class="menu-buttons-centre app-menu-medium">
      <button mat-button routerLink="/home" routerLinkActive="active">
        Home
      </button>
      <button mat-button routerLink="/about" routerLinkActive="active">
        About
      </button>
      <button mat-button routerLink="/photos" routerLinkActive="active">
        Gallery
      </button>
      <button mat-button routerLink="/activities" routerLinkActive="active">
        Events
      </button>
      <button mat-button routerLink="/contactus" routerLinkActive="active">
        Contact
      </button>
    </div>
    <div class="menu-buttons-centre app-menu-small">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">Home</button>
        <button mat-menu-item routerLink="/about">About</button>
        <button mat-menu-item routerLink="/photos">Gallery</button>
        <button mat-menu-item routerLink="/activities">Events</button>
        <button mat-menu-item routerLink="/contactus">Contact</button>
      </mat-menu>
    </div>
    <div class="menu-buttons-right">
      <button mat-flat-button color="accent" routerLink="events">Book</button>
    </div>
  </mat-toolbar>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
