<app-page-title
  [title]="
    'Register Interest - ' + booking.Summary + ' on ' + booking.LocaleDate
  "
></app-page-title>

<div class="form">
  <p>
    By registering your interest for a session you'll be added to our mailing
    list and contacted via email about this, and future events.
  </p>
  <p>
    If we don't hear from you within 90 days you'll automatically be taken off
    the mailing list, or you can contact us at:
    <a href="mailto:contactus@sheffieldcitykayakclub.co.uk"
      >contactus@sheffieldcitykayakclub.co.uk</a
    >
  </p>

  <p>
    Register your interest by clicking the link below. Please add your name and
    any relevant details
  </p>
  <a
    href="mailto:enquiries@sheffieldcitykayakclub.co.uk?subject=Booking%20request%20for%20{{
      booking.Summary
    }}%20on%20{{ booking.LocaleDate }}"
    >enquiries@sheffieldcitykayakclub.co.uk</a
  >
</div>
